header {
  background-color: #1a1b25;
  color: white;
  position: relative;
  top: 0;
  text-align: center;
  padding: 8px;
}

main {
  width: 400px;
  margin: auto;
  color: white;
}

button {
  margin: 24px 0px;
  padding: 14px;
  width: 100%;
}

hr {
  margin-top: 0px;
}

h2 {
  margin-bottom: 4px;
}
